* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  background-color: #f0f0f0;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.wrapper {
  margin: 0 10% 0 10%;
  font-family: "Open Sans", "Lucida Grande", tahoma, verdana, arial, sans-serif;
}

.page-title {
  font-weight: 900;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 2px solid rgb(0, 0, 0, 0.5);
}

.content {
  margin-left: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 700px) {
  .content {
    grid-template-columns: 1fr;
  }

  .add-form {
    width: 80% !important;
  }
}

.scores {
  margin-right: 2rem;
}

.title,
.score-title {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.list {
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  padding: 1rem;
}

.list-item {
  padding: 6px;
}

.list-item:nth-child(even) {
  background-color: #ddd;
}

button,
input[type="submit"] {
  border: 2px solid #000;
  padding: 6px;
  box-shadow: 5px 5px #000;
}

.add-form {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.add-form li {
  padding-bottom: 1rem;
  display: flex;
}

.add-form input[type="text"],
input[type="number"] {
  padding: 6px;
  border: 2px solid #000;
  width: 100%;
}

.submit-button {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
